nav {
  background-color: orchid;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 24px;
  
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.3em;
  border: 2px solid whitesmoke;
}

.selected {
  background-color: rgb(112, 19, 112);
}